In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
import math

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# Take your stock, take 2017- 52 weeks
HMC = pd.read_csv('/Users/yinchiahuang/Library/Mobile Documents/com~apple~CloudDocs/CS677/Assignments/yinchia@bu.edu_hw1/HMC_Honda Motor Co., Ltd.csv')

In [3]:
HMC_2017 = HMC.copy()
HMC_2017['Date'] = pd.to_datetime(HMC_2017['Date'])
start_date = '12-28-2016'
end_date = '01-29-2018'
mask = (HMC_2017['Date'] > start_date) & (HMC_2017['Date'] <= end_date)
HMC_2017 = HMC_2017.loc[mask]
HMC_2017['Return'] = HMC_2017['Adj Close'].pct_change()
HMC_2017['Day of week'] = HMC_2017['Date'].dt.weekday_name
HMC_2017

,Date,Open,High,Low,Close,Adj Close,Volume,Return,Day of week
829,2016-12-29,29.420000,29.459999,29.230000,29.280001,28.236036,364900,NaN,Thursday
830,2016-12-30,29.200001,29.299999,29.090000,29.190001,28.149246,421200,-0.003074,Friday
831,2017-01-03,29.480000,29.610001,29.420000,29.610001,28.554270,864500,0.014388,Tuesday
832,2017-01-04,30.209999,30.670000,30.209999,30.660000,29.566833,705500,0.035461,Wednesday
833,2017-01-05,30.620001,30.780001,30.580000,30.660000,29.566833,482600,0.000000,Thursday
834,2017-01-06,30.350000,30.580000,30.240000,30.469999,29.383608,493600,-0.006197,Friday
835,2017-01-09,30.370001,30.500000,30.299999,30.430000,29.345034,585200,-0.001313,Monday
836,2017-01-10,30.139999,30.270000,30.020000,30.100000,29.026800,849600,-0.010845,Tuesday
837,2017-01-11,30.070000,30.180000,29.900000,30.180000,29.103947,809300,0.002658,Wednesday
838,2017-01-12,30.180000,30.290001,29.809999,30.160000,29.084658,737600,-0.000663,Thursday
839,2017-01-13,30.049999,30.120001,29.990000,30.080000,29.007515,427100,-0.002652,Friday
840,2017-01-17,29.719999,29.840000,29.610001,29.660000,28.602489,770200,-0.013963,Tuesday
841,2017-01-18,29.830000,29.990000,29.740000,29.990000,28.920719,612400,0.011126,Wednesday
842,2017-01-19,30.389999,30.469999,30.160000,30.350000,29.267885,467600,0.012004,Thursday
843,2017-01-20,30.520000,30.610001,30.330000,30.440001,29.354677,547600,0.002965,Friday
844,2017-01-23,30.299999,30.389999,30.170000,30.360001,29.277531,466300,-0.002628,Monday
845,2017-01-24,30.100000,30.350000,30.010000,30.309999,29.229311,448700,-0.001647,Tuesday
846,2017-01-25,30.580000,30.840000,30.570000,30.790001,29.692202,586600,0.015837,Wednesday
847,2017-01-26,30.910000,30.969999,30.690001,30.730000,29.634336,729800,-0.001949,Thursday
848,2017-01-27,30.459999,30.459999,30.010000,30.080000,29.007515,1190700,-0.021152,Friday
849,2017-01-30,30.160000,30.250000,29.770000,29.950001,28.882151,1540000,-0.004322,Monday
850,2017-01-31,29.930000,29.969999,29.450001,29.719999,28.660349,940600,-0.007680,Tuesday
851,2017-02-01,30.230000,30.230000,29.889999,29.959999,28.891790,981700,0.008075,Wednesday
852,2017-02-02,30.200001,30.250000,30.059999,30.219999,29.142523,1092800,0.008678,Thursday
853,2017-02-03,30.920000,31.100000,30.709999,31.059999,29.952568,1040800,0.027796,Friday
854,2017-02-06,30.950001,30.980000,30.680000,30.870001,29.769348,993300,-0.006117,Monday
855,2017-02-07,31.490000,31.540001,31.309999,31.379999,30.261162,1508400,0.016521,Tuesday
856,2017-02-08,31.690001,31.750000,31.520000,31.730000,30.598680,1096700,0.011154,Wednesday
857,2017-02-09,31.200001,31.410000,31.160000,31.330000,30.212944,1114800,-0.012606,Thursday
858,2017-02-10,31.549999,31.650000,31.510000,31.570000,30.444386,626500,0.007660,Friday
...,...,...,...,...,...,...,...,...,...
1071,2017-12-14,33.779999,33.810001,33.630001,33.660000,33.185879,512900,-0.002075,Thursday
1072,2017-12-15,33.619999,33.740002,33.619999,33.680000,33.205597,446700,0.000594,Friday
1073,2017-12-18,33.910000,34.090000,33.910000,34.029999,33.550667,403600,0.010392,Monday
1074,2017-12-19,34.450001,34.450001,34.169998,34.279999,33.797142,550000,0.007346,Tuesday
1075,2017-12-20,34.299999,34.310001,34.070000,34.119999,33.639397,501800,-0.004667,Wednesday
1076,2017-12-21,34.240002,34.349998,34.160000,34.180000,33.698555,507400,0.001759,Thursday
1077,2017-12-22,34.290001,34.320000,34.139999,34.299999,33.816864,710500,0.003511,Friday
1078,2017-12-26,34.320000,34.410000,34.310001,34.400002,33.915459,235700,0.002916,Tuesday
1079,2017-12-27,34.349998,34.349998,34.220001,34.320000,34.068123,286800,0.004501,Wednesday
1080,2017-12-28,34.349998,34.360001,34.099998,34.240002,33.988712,221300,-0.002331,Thursday
1081,2017-12-29,34.330002,34.330002,34.060001,34.080002,33.829887,234600,-0.004673,Friday
1082,2018-01-02,34.310001,34.480000,34.090000,34.480000,34.226948,414900,0.011737,Tuesday
1083,2018-01-03,34.439999,34.830002,34.439999,34.790001,34.534676,404200,0.008991,Wednesday
1084,2018-01-04,35.090000,35.529999,35.060001,35.459999,35.199757,550300,0.019258,Thursday
1085,2018-01-05,35.580002,35.639999,35.389999,35.619999,35.358582,337400,0.004512,Friday
1086,2018-01-08,35.580002,35.799999,35.580002,35.799999,35.537262,287100,0.005053,Monday
1087,2018-01-09,35.639999,35.639999,35.459999,35.520000,35.259315,378100,-0.007821,Tuesday
1088,2018-01-10,36.340000,36.520000,36.209999,36.279999,36.013737,713700,0.021396,Wednesday
1089,2018-01-11,35.900002,36.090000,35.820000,36.090000,35.825134,987600,-0.005237,Thursday
1090,2018-01-12,35.770000,35.939999,35.669998,35.930000,35.666309,2198700,-0.004433,Friday
1091,2018-01-16,36.049999,36.119999,35.660000,35.730000,35.467773,514400,-0.005566,Tuesday
1092,2018-01-17,36.139999,36.450001,36.099998,36.330002,36.063374,563300,0.016793,Wednesday
1093,2018-01-18,35.869999,35.910000,35.740002,35.860001,35.596821,303500,-0.012937,Thursday
1094,2018-01-19,36.099998,36.290001,36.099998,36.240002,35.974033,372400,0.010597,Friday
1095,2018-01-22,36.000000,36.209999,35.889999,36.180000,35.914474,456100,-0.001656,Monday
1096,2018-01-23,36.389999,36.500000,36.380001,36.470001,36.202347,376500,0.008016,Tuesday
1097,2018-01-24,36.419998,36.419998,36.119999,36.330002,36.063374,414600,-0.003839,Wednesday
1098,2018-01-25,36.259998,36.259998,35.860001,35.900002,35.636528,404900,-0.011836,Thursday
1099,2018-01-26,36.099998,36.220001,35.990002,36.209999,35.944252,409000,0.008635,Friday
1100,2018-01-29,36.029999,36.150002,35.970001,36.020000,35.755646,331800,-0.005247,Monday

In [4]:
date_index = HMC_2017["Date"].tolist()
date_index2 = pd.date_range('12-28-2016', periods=399, freq='D')

In [5]:
# find out the missing data 
HMC_2017_returns = pd.DataFrame({"Daily return": HMC_2017["Return"].tolist(), "Day of week":HMC_2017["Day of week"].tolist()}, index = date_index)
HMC_2017_returns = HMC_2017_returns.reindex(date_index2)
#HMC_2017_returns

In [6]:
# get vectors of weekly returns
number_of_week = [] 
weekly_returns = [] 

HMC_2017_returns = HMC_2017_returns.reset_index()

for row in range(5,len(HMC_2017_returns)):
    daily_return = HMC_2017_returns.loc[row]['Daily return'] 
    
    # replace missing value with previous data
    r = row -1
    while np.isnan(daily_return)== True:
        daily_return = HMC_2017_returns.loc[r]['Daily return']
        r -=1
        
    if row%7 == 5: # Monday --> create a new vector & add daily return in it 
        weekly_return = []
        weekly_return.append(daily_return)
    elif row%7 == 6 or row%7 == 0 or row%7 == 1: # Tues, Wed, Thurs --> add daily return in the vector

        weekly_return.append(daily_return)
    elif row%7 == 2 :# Friday --> add daily return in the vector & add the vector to a list of all vectors  
        weekly_return.append(daily_return)
        weekly_return = [round(elem, 4) for elem in weekly_return]
        weekly_returns.append(weekly_return)

In [7]:
# assign labels for each week --> I define a week is good(1) if monday return > 0, otherwise, it is a bad(0) week
week_labels = []

for i in range(len(weekly_returns)):
    monday_return = weekly_returns[i][0]

    if monday_return>0:
        week_labels.append(1)
    else:
        week_labels.append(0)

In [8]:
monday_returns = []
tuesday_returns = []
wednesday_returns = []
thursday_returns = []
friday_returns = [] 

for week in range(len(weekly_returns)):
    monday_returns.append(weekly_returns[week][0])
    tuesday_returns.append(weekly_returns[week][1])
    wednesday_returns.append(weekly_returns[week][2])
    thursday_returns.append(weekly_returns[week][3])
    friday_returns.append(weekly_returns[week][4])

In [9]:
#summarize all information
#month_year
data = {'week': list(range(1,57)), 'monday returns':monday_returns,'tuesday returns':tuesday_returns,'wednesday returns':wednesday_returns,'thursday returns':thursday_returns,'friday returns':friday_returns, 'daily returns':weekly_returns,'week label': week_labels}
df = pd.DataFrame(data=data)
df

,week,monday returns,tuesday returns,wednesday returns,thursday returns,friday returns,daily returns,week label
0,1,-0.0031,0.0144,0.0355,0.0000,-0.0062,"[-0.0031, 0.0144, 0.0355, 0.0, -0.0062]",0
1,2,-0.0013,-0.0108,0.0027,-0.0007,-0.0027,"[-0.0013, -0.0108, 0.0027, -0.0007, -0.0027]",0
2,3,-0.0027,-0.0140,0.0111,0.0120,0.0030,"[-0.0027, -0.014, 0.0111, 0.012, 0.003]",0
3,4,-0.0026,-0.0016,0.0158,-0.0019,-0.0212,"[-0.0026, -0.0016, 0.0158, -0.0019, -0.0212]",0
4,5,-0.0043,-0.0077,0.0081,0.0087,0.0278,"[-0.0043, -0.0077, 0.0081, 0.0087, 0.0278]",0
5,6,-0.0061,0.0165,0.0112,-0.0126,0.0077,"[-0.0061, 0.0165, 0.0112, -0.0126, 0.0077]",0
6,7,0.0177,-0.0037,-0.0069,-0.0091,0.0035,"[0.0177, -0.0037, -0.0069, -0.0091, 0.0035]",1
7,8,0.0035,0.0054,0.0025,-0.0075,-0.0054,"[0.0035, 0.0054, 0.0025, -0.0075, -0.0054]",1
8,9,-0.0067,-0.0086,0.0103,-0.0096,0.0052,"[-0.0067, -0.0086, 0.0103, -0.0096, 0.0052]",0
9,10,-0.0061,0.0036,-0.0042,0.0000,0.0036,"[-0.0061, 0.0036, -0.0042, 0.0, 0.0036]",0
10,11,0.0000,-0.0097,0.0133,0.0010,-0.0048,"[0.0, -0.0097, 0.0133, 0.001, -0.0048]",0
11,12,-0.0016,-0.0065,-0.0055,0.0036,0.0016,"[-0.0016, -0.0065, -0.0055, 0.0036, 0.0016]",0
12,13,0.0010,0.0000,-0.0006,-0.0045,-0.0127,"[0.001, 0.0, -0.0006, -0.0045, -0.0127]",1
13,14,-0.0043,-0.0166,-0.0202,-0.0107,0.0017,"[-0.0043, -0.0166, -0.0202, -0.0107, 0.0017]",0
14,15,-0.0038,0.0035,-0.0066,-0.0042,-0.0042,"[-0.0038, 0.0035, -0.0066, -0.0042, -0.0042]",0
15,16,0.0084,-0.0101,-0.0074,0.0103,0.0014,"[0.0084, -0.0101, -0.0074, 0.0103, 0.0014]",1
16,17,0.0105,0.0049,0.0041,-0.0024,0.0031,"[0.0105, 0.0049, 0.0041, -0.0024, 0.0031]",1
17,18,-0.0007,-0.0065,0.0010,0.0024,0.0052,"[-0.0007, -0.0065, 0.001, 0.0024, 0.0052]",0
18,19,-0.0048,-0.0183,0.0004,0.0042,-0.0168,"[-0.0048, -0.0183, 0.0004, 0.0042, -0.0168]",0
19,20,0.0075,-0.0120,-0.0182,0.0066,0.0007,"[0.0075, -0.012, -0.0182, 0.0066, 0.0007]",1
20,21,0.0022,0.0000,0.0083,-0.0114,-0.0007,"[0.0022, 0.0, 0.0083, -0.0114, -0.0007]",1
21,22,-0.0007,0.0058,0.0050,0.0129,0.0141,"[-0.0007, 0.0058, 0.005, 0.0129, 0.0141]",0
22,23,-0.0171,0.0032,-0.0014,-0.0042,-0.0068,"[-0.0171, 0.0032, -0.0014, -0.0042, -0.0068]",0
23,24,0.0014,0.0036,-0.0011,-0.0057,-0.0011,"[0.0014, 0.0036, -0.0011, -0.0057, -0.0011]",1
24,25,-0.0039,-0.0123,0.0058,0.0000,0.0029,"[-0.0039, -0.0123, 0.0058, 0.0, 0.0029]",0
25,26,-0.0014,-0.0056,0.0088,-0.0106,0.0074,"[-0.0014, -0.0056, 0.0088, -0.0106, 0.0074]",0
26,27,0.0007,0.0007,0.0135,-0.0166,-0.0022,"[0.0007, 0.0007, 0.0135, -0.0166, -0.0022]",1
27,28,-0.0022,0.0000,0.0110,-0.0007,0.0055,"[-0.0022, 0.0, 0.011, -0.0007, 0.0055]",0
28,29,0.0033,-0.0022,0.0025,-0.0011,-0.0065,"[0.0033, -0.0022, 0.0025, -0.0011, -0.0065]",1
29,30,-0.0040,0.0069,0.0000,0.0025,-0.0004,"[-0.004, 0.0069, 0.0, 0.0025, -0.0004]",0
30,31,0.0130,0.0221,0.0073,-0.0062,-0.0105,"[0.013, 0.0221, 0.0073, -0.0062, -0.0105]",1
31,32,-0.0067,-0.0043,-0.0068,-0.0104,-0.0007,"[-0.0067, -0.0043, -0.0068, -0.0104, -0.0007]",0
32,33,0.0065,-0.0032,0.0025,-0.0130,0.0066,"[0.0065, -0.0032, 0.0025, -0.013, 0.0066]",1
33,34,0.0000,0.0123,-0.0054,0.0014,0.0072,"[0.0, 0.0123, -0.0054, 0.0014, 0.0072]",0
34,35,-0.0057,0.0018,-0.0075,0.0163,0.0039,"[-0.0057, 0.0018, -0.0075, 0.0163, 0.0039]",0
35,36,0.0039,-0.0057,0.0011,0.0050,0.0085,"[0.0039, -0.0057, 0.0011, 0.005, 0.0085]",1
36,37,0.0151,0.0107,0.0007,0.0003,0.0038,"[0.0151, 0.0107, 0.0007, 0.0003, 0.0038]",1
37,38,0.0031,0.0037,0.0037,0.0027,0.0061,"[0.0031, 0.0037, 0.0037, 0.0027, 0.0061]",1
38,39,0.0007,0.0098,0.0018,-0.0054,-0.0044,"[0.0007, 0.0098, 0.0018, -0.0054, -0.0044]",1
39,40,0.0074,0.0141,-0.0050,0.0010,0.0003,"[0.0074, 0.0141, -0.005, 0.001, 0.0003]",1
40,41,0.0000,0.0066,0.0007,-0.0043,0.0027,"[0.0, 0.0066, 0.0007, -0.0043, 0.0027]",0
41,42,0.0050,0.0000,0.0016,-0.0007,-0.0069,"[0.005, 0.0, 0.0016, -0.0007, -0.0069]",1
42,43,0.0046,0.0122,-0.0091,0.0112,0.0042,"[0.0046, 0.0122, -0.0091, 0.0112, 0.0042]",1
43,44,0.0055,-0.0003,0.0251,0.0292,0.0021,"[0.0055, -0.0003, 0.0251, 0.0292, 0.0021]",1
44,45,0.0198,0.0003,0.0033,-0.0199,-0.0012,"[0.0198, 0.0003, 0.0033, -0.0199, -0.0012]",1
45,46,-0.0036,-0.0098,-0.0102,0.0137,0.0006,"[-0.0036, -0.0098, -0.0102, 0.0137, 0.0006]",0
46,47,0.0092,0.0061,0.0012,0.0012,-0.0009,"[0.0092, 0.0061, 0.0012, 0.0012, -0.0009]",1
47,48,-0.0045,0.0127,-0.0060,0.0042,0.0012,"[-0.0045, 0.0127, -0.006, 0.0042, 0.0012]",0
48,49,0.0006,-0.0060,-0.0021,0.0066,-0.0018,"[0.0006, -0.006, -0.0021, 0.0066, -0.0018]",1
49,50,0.0012,0.0057,0.0063,-0.0021,0.0006,"[0.0012, 0.0057, 0.0063, -0.0021, 0.0006]",1
50,51,0.0104,0.0073,-0.0047,0.0018,0.0035,"[0.0104, 0.0073, -0.0047, 0.0018, 0.0035]",1
51,52,0.0035,0.0029,0.0045,-0.0023,-0.0047,"[0.0035, 0.0029, 0.0045, -0.0023, -0.0047]",1
52,53,-0.0047,0.0117,0.0090,0.0193,0.0045,"[-0.0047, 0.0117, 0.009, 0.0193, 0.0045]",0
53,54,0.0051,-0.0078,0.0214,-0.0052,-0.0044,"[0.0051, -0.0078, 0.0214, -0.0052, -0.0044]",1
54,55,-0.0044,-0.0056,0.0168,-0.0129,0.0106,"[-0.0044, -0.0056, 0.0168, -0.0129, 0.0106]",0
55,56,-0.0017,0.0080,-0.0038,-0.0118,0.0086,"[-0.0017, 0.008, -0.0038, -0.0118, 0.0086]",0

In [10]:
df_2017 = df[:52]
df_2017_good = df_2017.loc[df['week label'] == 1]
df_2017_bad = df_2017.loc[df['week label'] == 0]

df_2018 = df[52:57]
df_2018 = df_2018.reset_index()

#### Naïve Bayesian Classification: Continuous Case

Bayes Formula:  P(c | x) = P(x | c) * P(c) / P(x)

Posterior = likelihood * Prior / Evidence

#### Classify new weeks as "good" week or "bad" week
- Posterior "Good" probability:
  P(G|X~) =  [P(G)P(Mon|G)P(Tue|G)P(Wed|G)P(Thur|G)P(Fri|G)] / evidence

- Posterior “Bad” probability:
  P(B|X~) =  [P(B)P(Mon|B)P(Tue|B)P(Wed|B)P(Thur|B)P(Fri|B)] / evidence

- The evidence is the normalization constant
  evidence = P(G|X~)  +  P(B|X~)

  This can be ignored (it is the same for both classes)

#### Method 1: self-written calculation

In [11]:
print('# of good weeks:' ,len(df_2017_good))
print('P(good)=',round(len(df_2017_good)/52,2))
p_good = len(df_2017_good)/52
print('\n# of bad weeks:' ,len(df_2017_bad))
p_bad = len(df_2017_bad)/52
print('P(bad)=',round(len(df_2017_bad)/52,2))

# of good weeks: 26
P(good)= 0.5

# of bad weeks: 26
P(bad)= 0.5

In [12]:
### column standard deviation  of the dataframe
print("class = good, standard deviation for each attribute\n")
print(df_2017_good.std(axis=0))

std_monday_good = df_2017_good['monday returns'].std()
std_tuesday_good = df_2017_good['tuesday returns'].std()
std_wednesday_good = df_2017_good['wednesday returns'].std()
std_thursday_good = df_2017_good['thursday returns'].std()
std_friday_good = df_2017_good['friday returns'].std()


print("\n\nclass = bad, standard deviation for each attribute\n")
print(df_2017_bad.std(axis=0))

std_monday_bad = df_2017_bad['monday returns'].std()
std_tuesday_bad = df_2017_bad['tuesday returns'].std()
std_wednesday_bad = df_2017_bad['wednesday returns'].std()
std_thursday_bad = df_2017_bad['thursday returns'].std()
std_friday_bad = df_2017_bad['friday returns'].std()

class = good, standard deviation for each attribute

week                 13.715628
monday returns        0.005368
tuesday returns       0.007570
wednesday returns     0.007965
thursday returns      0.009833
friday returns        0.005147
week label            0.000000
dtype: float64


class = bad, standard deviation for each attribute

week                 13.837574
monday returns        0.003435
tuesday returns       0.009823
wednesday returns     0.010907
thursday returns      0.007850
friday returns        0.009150
week label            0.000000
dtype: float64

In [13]:
### column mean  of the dataframe
print("class = good, mean for each attribute\n")
print(df_2017_good.mean(axis=0))

mean_monday_good = df_2017_good['monday returns'].mean()
mean_tuesday_good = df_2017_good['tuesday returns'].mean()
mean_wednesday_good = df_2017_good['wednesday returns'].mean()
mean_thursday_good = df_2017_good['thursday returns'].mean()
mean_friday_good = df_2017_good['friday returns'].mean()

print("\n\nclass = bad, mean for each attribute\n")
print(df_2017_bad.mean(axis=0))

mean_monday_bad = df_2017_bad['monday returns'].mean()
mean_tuesday_bad = df_2017_bad['tuesday returns'].mean()
mean_wednesday_bad = df_2017_bad['wednesday returns'].mean()
mean_thursday_bad = df_2017_bad['thursday returns'].mean()
mean_friday_bad = df_2017_bad['friday returns'].mean()

class = good, mean for each attribute

week                 33.038462
monday returns        0.006373
tuesday returns       0.002550
wednesday returns     0.001342
thursday returns     -0.001231
friday returns       -0.000562
week label            1.000000
dtype: float64


class = bad, mean for each attribute

week                 19.961538
monday returns       -0.003765
tuesday returns      -0.001731
wednesday returns     0.002573
thursday returns      0.000500
friday returns        0.001442
week label            0.000000
dtype: float64

In [14]:
def normdf(x,mean,sd):
    var = float(sd)**2
    pi = 3.1415926
    denom = (2*pi*var)**0.5
    num = math.exp(-(float(x)-float(mean))**2/(2*var))
    return num/denom

In [15]:
def NBClassifier(daily_returns):
    p_mon_good = normdf(daily_returns[0],mean_monday_good,std_monday_good)
    p_tue_good = normdf(daily_returns[1],mean_tuesday_good,std_tuesday_good)
    p_wed_good = normdf(daily_returns[2],mean_wednesday_good,std_wednesday_good)
    p_thu_good = normdf(daily_returns[3],mean_thursday_good,std_thursday_good)
    p_fri_good = normdf(daily_returns[4],mean_friday_good,std_friday_good)
        
    p_mon_bad = normdf(daily_returns[0],mean_monday_bad,std_monday_bad)
    p_tue_bad = normdf(daily_returns[1],mean_tuesday_bad,std_tuesday_bad)
    p_wed_bad = normdf(daily_returns[2],mean_wednesday_bad,std_wednesday_bad)
    p_thu_bad = normdf(daily_returns[3],mean_thursday_bad,std_thursday_bad)
    p_fri_bad = normdf(daily_returns[4],mean_friday_bad,std_friday_bad)
    
    p_good_x = p_good * p_mon_good* p_tue_good * p_wed_good* p_thu_good*p_fri_good
    p_bad_x = p_bad * p_mon_bad* p_tue_bad * p_wed_bad* p_thu_bad * p_fri_bad
    
    #print("p_good_x = ",round(p_good_x))
    #print("p_bad_x =  ", round(p_bad_x))
    
    if p_good_x > p_bad_x:
        classification = 1
    else:
        classification = 0
    
    return classification

#### Test January, 2018 first 4 weeks

In [16]:
predicted_week_labels = [] 
correct_points = 0
for row in range(len(df_2018)):
    predicted_week_label = NBClassifier(df_2018.loc[row]['daily returns'])
    if predicted_week_label == df_2018.loc[row]['week label']:
        correct_points +=1
    
    predicted_week_labels.append(predicted_week_label)

In [17]:
print("actual labels:",df_2018['week label'].tolist() )
print("predicted labels:",predicted_week_labels)

total_points = len(df_2018)
accuracy = 100.0*correct_points/total_points

print("Number of correct points out of a total {} points : {}, performance {:05.2f}%"
      .format(total_points, correct_points, accuracy))

actual labels: [0, 1, 0, 0]
predicted labels: [0, 1, 0, 0]
Number of correct points out of a total 4 points : 4, performance 100.00%

#### Test [0,0,0,0,0]

In [18]:
NBClassifier([0,0,0,0,0])

1

#### Method 2: Use GaussianNB()

In [19]:
X_train = df_2017
X_test = df_2018

gnb = GaussianNB()

used_features =['monday returns', 'tuesday returns', 'wednesday returns','thursday returns','friday returns'] 

gnb.fit(X_train[used_features].values, X_train["week label"])
y_pred = gnb.predict(X_test[used_features])

total = X_test.shape[0]
#mislabeled_points = X_test["Survived"] != y_pred).sum()

#### Test January, 2018 first 4 weeks

In [20]:
X_test.loc[:, 'predicted'] = y_pred

comparison = (X_test['week label'] == X_test['predicted'])
X_test.loc[ :, 'correct_bool'] = comparison.values

X_test.loc[: , "correct"]=np.where(X_test.loc[:, "correct_bool"]==False,0,1)
correct_points = X_test['correct'].sum()
total_points = len(X_test)
accuracy = 100.0*correct_points/total_points

print("Number of correct points out of a total {} points : {}, performance {:05.2f}%"
      .format(total_points, correct_points, accuracy))

Number of correct points out of a total 4 points : 4, performance 100.00%

#### Test [0,0,0,0,0]

In [21]:
gnb.predict([[0,0,0,0,0]])

array([1])