In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/yinchiahuang/Library/Mobile Documents/com~apple~CloudDocs/CS677/Assignments/yinchia@bu.edu_hw1/HMC_Honda Motor Co., Ltd.csv')

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013/9/16,38.830002,38.990002,38.669998,38.830002,34.026104,440200
1,2013/9/17,38.490002,38.799999,38.360001,38.669998,33.885891,442700
2,2013/9/18,38.720001,39.860001,38.720001,39.799999,34.876091,742500
3,2013/9/19,39.770000,39.830002,39.529999,39.590000,34.692081,353300
4,2013/9/20,39.200001,39.340000,38.830002,38.900002,34.087433,877400
5,2013/9/23,39.029999,39.040001,38.700001,38.919998,34.104969,201000
6,2013/9/24,38.990002,39.240002,38.820000,38.959999,34.140015,224200
7,2013/9/25,38.869999,38.900002,38.549999,38.759998,34.135738,169800
8,2013/9/26,39.070000,39.270000,38.889999,39.189999,34.514431,196300
9,2013/9/27,38.689999,38.779999,38.599998,38.720001,34.100506,148300
10,2013/9/30,38.049999,38.250000,37.840000,38.139999,33.589699,306100
11,2013/10/1,38.400002,38.549999,38.080002,38.220001,33.660168,328200
12,2013/10/2,38.099998,38.279999,37.709999,38.279999,33.712997,195400
13,2013/10/3,38.340000,38.439999,37.919998,38.070000,33.528057,321200
14,2013/10/4,38.180000,38.400002,37.990002,38.369999,33.792271,232600
15,2013/10/7,37.919998,38.230000,37.759998,37.910000,33.387142,209200
16,2013/10/8,38.299999,38.349998,37.849998,37.959999,33.431179,237600
17,2013/10/9,38.799999,39.090000,38.500000,39.070000,34.408760,460300
18,2013/10/10,39.770000,40.080002,39.700001,40.080002,35.298264,691400
19,2013/10/11,39.779999,40.119999,39.599998,40.119999,35.333477,377500
20,2013/10/14,39.830002,40.330002,39.689999,40.160000,35.368710,180800
21,2013/10/15,39.900002,39.980000,39.570000,39.570000,34.849102,207000
22,2013/10/16,39.639999,39.970001,39.570000,39.950001,35.183765,188900
23,2013/10/17,40.040001,40.410000,39.990002,40.389999,35.571266,312100
24,2013/10/18,40.380001,40.490002,40.160000,40.400002,35.580086,232400
25,2013/10/21,40.419998,40.470001,40.240002,40.470001,35.641727,255000
26,2013/10/22,40.439999,40.590000,40.349998,40.540001,35.703373,308100
27,2013/10/23,39.380001,39.459999,39.139999,39.290001,34.602505,282400
28,2013/10/24,39.740002,39.880001,39.520000,39.779999,35.034039,194300
29,2013/10/25,39.740002,39.750000,39.480000,39.650002,34.919556,158200
...,...,...,...,...,...,...,...
1230,2018/8/3,30.190001,30.660000,30.190001,30.660000,30.660000,530100
1231,2018/8/6,30.450001,30.469999,30.270000,30.290001,30.290001,524600
1232,2018/8/7,30.750000,30.790001,30.670000,30.730000,30.730000,532200
1233,2018/8/8,30.740000,30.770000,30.670000,30.730000,30.730000,1166300
1234,2018/8/9,30.549999,30.549999,30.180000,30.240000,30.240000,559500
1235,2018/8/10,30.200001,30.240000,29.959999,30.090000,30.090000,924400
1236,2018/8/13,29.799999,29.990000,29.629999,29.690001,29.690001,516500
1237,2018/8/14,29.910000,30.020000,29.870001,29.940001,29.940001,442000
1238,2018/8/15,29.459999,29.480000,29.200001,29.430000,29.430000,496500
1239,2018/8/16,29.590000,29.879999,29.580000,29.790001,29.790001,314000
1240,2018/8/17,29.790001,30.059999,29.740000,30.000000,30.000000,349700
1241,2018/8/20,30.040001,30.260000,30.020000,30.219999,30.219999,302000
1242,2018/8/21,30.250000,30.410000,30.250000,30.330000,30.330000,331100
1243,2018/8/22,30.700001,30.700001,30.450001,30.480000,30.480000,400500
1244,2018/8/23,30.040001,30.049999,29.830000,29.959999,29.959999,416300
1245,2018/8/24,29.680000,29.840000,29.639999,29.680000,29.680000,578900
1246,2018/8/27,30.150000,30.469999,30.020000,30.430000,30.430000,767600
1247,2018/8/28,30.520000,30.639999,30.469999,30.480000,30.480000,493000
1248,2018/8/29,30.500000,30.629999,30.400000,30.540001,30.540001,278100
1249,2018/8/30,30.129999,30.160000,29.959999,30.030001,30.030001,579500
1250,2018/8/31,29.740000,29.830000,29.510000,29.629999,29.629999,673500
1251,2018/9/4,29.100000,29.139999,28.860001,28.980000,28.980000,681500
1252,2018/9/5,28.709999,28.850000,28.549999,28.670000,28.670000,794700
1253,2018/9/6,28.740000,28.799999,28.559999,28.750000,28.750000,658200
1254,2018/9/7,28.730000,28.750000,28.549999,28.650000,28.650000,465800
1255,2018/9/10,28.660000,28.719999,28.540001,28.570000,28.570000,366600
1256,2018/9/11,28.379999,28.440001,28.190001,28.440001,28.440001,545700
1257,2018/9/12,28.070000,28.309999,28.000000,28.160000,28.160000,667200
1258,2018/9/13,28.719999,28.760000,28.469999,28.600000,28.600000,439200
1259,2018/9/14,28.850000,28.940001,28.799999,28.900000,28.900000,484000

###  Take the last 1,000 trading days (about 4 years of data) and compute the mean m and standard deviation sigma of  daily returns.

In [4]:
df_1000days = df.tail(1000)
df_1000days.rename(columns={'Adj Close': 'Price'}, inplace = True)
df_1000days = df_1000days[['Date', 'Price']]

df_1000days['daily_returns'] = (df_1000days.Price - df_1000days.Price.shift(1))/df_1000days.Price.shift(1)
df_1000days

/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

            Date      Price  daily_returns
260    2014/9/26  31.002098            NaN
261    2014/9/29  30.659832      -0.011040
262    2014/9/30  30.876001       0.007051
263    2014/10/1  30.434656      -0.014294
264    2014/10/2  28.822401      -0.052974
265    2014/10/3  29.254736       0.015000
266    2014/10/6  29.470905       0.007389
267    2014/10/7  29.353815      -0.003973
268    2014/10/8  29.597002       0.008285
269    2014/10/9  28.957508      -0.021607
270   2014/10/10  28.552191      -0.013997
271   2014/10/13  28.272978      -0.009779
272   2014/10/14  28.417089       0.005097
273   2014/10/15  28.146873      -0.009509
274   2014/10/16  27.840635      -0.010880
275   2014/10/17  28.038795       0.007118
276   2014/10/20  28.471130       0.015419
277   2014/10/21  28.417089      -0.001898
278   2014/10/22  28.480139       0.002219
279   2014/10/23  28.480139       0.000000
280   2014/10/24  27.984753      -0.017394
281   2014/10/27  27.759577      -0.008046
282   2014/10/28  27.011995      -0.026931
283   2014/10/29  27.642485       0.023341
284   2014/10/30  27.606459      -0.001303
285   2014/10/31  28.930485       0.047961
286    2014/11/3  29.182682       0.008717
287    2014/11/4  27.939718      -0.042593
288    2014/11/5  28.543184       0.021599
289    2014/11/6  28.516165      -0.000947
...          ...        ...            ...
1230    2018/8/3  30.660000       0.018266
1231    2018/8/6  30.290001      -0.012068
1232    2018/8/7  30.730000       0.014526
1233    2018/8/8  30.730000       0.000000
1234    2018/8/9  30.240000      -0.015945
1235   2018/8/10  30.090000      -0.004960
1236   2018/8/13  29.690001      -0.013293
1237   2018/8/14  29.940001       0.008420
1238   2018/8/15  29.430000      -0.017034
1239   2018/8/16  29.790001       0.012232
1240   2018/8/17  30.000000       0.007049
1241   2018/8/20  30.219999       0.007333
1242   2018/8/21  30.330000       0.003640
1243   2018/8/22  30.480000       0.004946
1244   2018/8/23  29.959999      -0.017060
1245   2018/8/24  29.680000      -0.009346
1246   2018/8/27  30.430000       0.025270
1247   2018/8/28  30.480000       0.001643
1248   2018/8/29  30.540001       0.001969
1249   2018/8/30  30.030001      -0.016699
1250   2018/8/31  29.629999      -0.013320
1251    2018/9/4  28.980000      -0.021937
1252    2018/9/5  28.670000      -0.010697
1253    2018/9/6  28.750000       0.002790
1254    2018/9/7  28.650000      -0.003478
1255   2018/9/10  28.570000      -0.002792
1256   2018/9/11  28.440001      -0.004550
1257   2018/9/12  28.160000      -0.009845
1258   2018/9/13  28.600000       0.015625
1259   2018/9/14  28.900000       0.010490

[1000 rows x 3 columns]

In [5]:
return_mean = round(df_1000days.loc[:,'daily_returns'].mean(),4)
return_std = round(df_1000days.loc[:,'daily_returns'].std(),4)

print('mean:' ,return_mean )
print('standard deviation:' ,return_std )

mean: 0.0
standard deviation: 0.0135

###  If the distribution of daily returns were normal, 5% of days (50 days) will have the daily returns outside of mean +/- 2 * sigma. Compute the number of daily returns outside of mean +/ 2 standard deviations.

In [6]:
upper_bound = return_mean + 2 * return_std
lower_bound = return_mean - 2 * return_std

print('upper_bound:' ,upper_bound )
print('lower_bound:' ,lower_bound )

count = 0 
for x in df_1000days['daily_returns']:
    if (x < lower_bound) | (x> upper_bound):
        count +=1
print('# of outliers:', count)

upper_bound: 0.027
lower_bound: -0.027
# of outliers: 62

### Conclusion: There are more than 50 numbers are outside of mean +/- 2 * sigma. So the daily returns is not a normal distribution.